body {
    margin: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 700;
    font-style: normal;
}